:root {
  --color-white: #ddd;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-white);
  user-select: none;
  font-size: 5em;
}

h1,
p {
  margin: 0;
}

i {
  display: inline-block;
  font-style: normal;
}

.number {
  font-family: sans-serif;
  font-weight: bolder;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.none {
  display: none !important;
}