:root {
  --color-white: #ddd;
  --color-black: black;
  --color-red: #ef3923;
  --color-yellow: #ffef48;
  --color-blue: #41aac8;
  --color-green: #82ca38;
  --color-orange: #ff8c0a;

  --color-red-dark: #b32200;
  --color-yellow-dark: #d1c227;
  --color-blue-dark: #2e7191;
  --color-green-dark: #6ca82f;
  --color-orange-dark: #bb6f18;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-white);
  font-size: 5em;
  overflow: hidden;
  touch-action: manipulation; /* 或者 touch-action: none; 根据具体需求选择 */
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

h1,
p {
  margin: 0;
}

i {
  display: inline-block;
  font-style: normal;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.hide {
  pointer-events: none;
}

.number {
  font-family: sans-serif;
  font-weight: bolder;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.none {
  display: none !important;
}

#canvas {
  display: block;
  background: var(--color-black);
}