@import "common.css";
@import "animation.css";

#loading-bar {
  position: absolute;
  top: calc(50% - 1px);
  width: 100%;
  height: 0.125em;
  background-color: white;
  transform: scale(0);
  transform-origin: center left;
  transition: transform 0.5s;
  /* 渲染性能优化 */
  will-change: transform;
}

#loading-bar.ended {
  transform-origin: center right;
  transition: transform 1.5s ease-in-out;
}

#texts,
#buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

#stats {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 14em;
}

.stats-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  opacity: 0;
}

.stats-item:not(:last-child) {
  margin-bottom: 1em;
}

.text,
.btn {
  position: fixed;
}

.text-title i,
.text-tick i,
.text-complete,
.text-best-time,
.text-note {
  opacity: 0;
}

.text-title,
.text-tick,
.text-complete,
.text-best-time,
.text-note {
  left: 50%;
  translate: -50% 0;
}

.text-title {
  bottom: 80%;
  font-size: 2.8em;
}

.text-title i:last-child {
  transform-origin: center bottom;
}

.text-title.show i:first-child {
  animation: .5s ease-out forwards rotate-in;
}

.text-title.show i:last-child {
  animation: .5s ease-out .1s forwards rotate-in, .5s ease-in .7s forwards crooked;
}

.text-title.hide i:first-child {
  animation: .5s ease-in forwards rotate-out;
}

.text-title.hide i:last-child {
  animation: .5s ease-in forwards rotate-crooked-out;
}

.text-tick {
  bottom: 80%;
  font-size: 3em;
}

.text-complete,
.text-best-time,
.text-note {
  bottom: 8%;
  font-size: 1.2em;
  letter-spacing: .2em;
}

.text-complete.show,
.text-best-time.show {
  animation: 3s ease-in-out twinkle;
}

.text-note {
  font-size: 1em;
}

.text-note.show {
  animation: 2s ease-in-out infinite twinkle;
}

.text-note.hide {
  opacity: 0 !important;
  transition: opacity 0.5s;
  will-change: opacity;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.btn {
  pointer-events: none;
  cursor: pointer;
  opacity: 0;
  border: none;
  outline: none;
  appearance: none;
  transform: translateY(1.5em);
  color: #ffffffaa;
  background-color: transparent;
  font-size: 1.2em;
}

/* 扩大点击范围 */
.btn::after {
  position: absolute;
  content: '';
  width: 3em;
  height: 3em;
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -1.5em;
}

.btn-stats,
.btn-back {
  bottom: .8em;
  left: .8em;
}

.btn-prefs,
.btn-theme,
.btn-reset {
  bottom: .8em;
  right: .8em;
}

.btn-stats.show,
.btn-back.show,
.btn-prefs.show,
.btn-theme.show,
.btn-reset.show {
  pointer-events: auto;
  animation: .5s ease-out forwards fade-in;
}

.btn-stats.hide,
.btn-back.hide,
.btn-prefs.hide,
.btn-theme.hide,
.btn-reset.hide {
  animation: .5s ease-in forwards fade-out;
}