html, body {
  padding: 0;
  margin: 0;
  color: white;
  user-select: none;
  font-size: 5em;
}

h1, p {
  margin: 0;
}

i {
  font-style: normal;
}

#loading-bar {
  position: absolute;
  top: calc(50% - 1px);
  width: 100%;
  height: 0.125em;
  background-color: white;
  transform: scale(0);
  transform-origin: center left;
  transition: transform 0.5s;
  will-change: transform; /* 渲染性能优化 */
}

#loading-bar.ended {
  transform-origin: center right;
  transition: transform 1.5s ease-in-out;
}

#texts, #buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.text, .btn {
  position: fixed;
  text-align: center;
  opacity: 0;
}

.text-title {
  top: 7%;
  left: 50%;
  translate: -50% 0;
  font-size: 2.5em;
}
.text-title span {
  display: block;
}

@keyframes twinkle {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.text-note {
  top: 88%;
  left: 50%;
  translate: -50% 0;
  font-size: 1em;
  letter-spacing: .2em;
}

.text.twinkle {
  animation: 2s ease-in-out infinite twinkle;
}

.text.fade-out {
  opacity: 0 !important;
  transition: opacity 0.5s;
  will-change: opacity;
}

.btn {
  opacity: 1;
  border: 0;
  font-size: 1.2em;
  color: #ffffffaa;
  background-color: transparent;
  appearance: none;
  pointer-events: none;
}

/* 扩大点击范围 */
.btn::after {
  position: absolute;
  content: '';
  width: 3em;
  height: 3em;
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -1.5em;
}

.btn svg {
  display: block;
  width: 1em;
  height: 1em;
}

.btn-stats {
  top: 93%;
  left: 1%;
}

.btn-prefs {
  top: 93%;
  right: 1%;
}